@model List<Course>

@{
    ViewData["Title"] = ViewBag.MajorName + " Courses";

    var userId = UserManager.GetUserId(User);

    var userCourses = CourseService.GetStudentCourses(userId);

}

<h4 class="my-4">@ViewBag.MajorName Major Courses</h4>

<div class="row">
    @foreach (var course in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-primary">@course.Name</h5>
                    <div class="d-flex justify-content-center">
                        <img src="~/images/mycourse.jpg" class="card-img-top" alt="Course Image" style="width: 80%; height: auto;">
                    </div>
                    <p class="card-text">
                        <i class="fas fa-book-reader"></i> Major: @(course.Major != null ? $"{course.Major.Name}" : "N/A")
                    </p>
                    <p class="card-text">
                        <i class="fas fa-chalkboard-teacher"></i> Instructor: @(course.Instructor != null ? $"{course.Instructor.FirstName} {course.Instructor.LastName}" : "N/A")
                    </p>
                    <form class="enroll-form" asp-action="Enroll" method="post">
                        <input type="hidden" name="courseId" value="@course.Id" />
                        <input type="hidden" name="studentId" value="@UserManager.GetUserId(User)" />
                        <div class="d-flex justify-content-center">
                           
                                @if (userCourses.Contains(course))
                                {
                                    <button disabled type="submit" class="btn btn-outline-primary w-75" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to enroll in this course">
                                        Already Enrolled
                                    </button>
                                }
                                else if (course.Students.Count >= course.MaxNumberOfStudents)
                                {
                                    <button disabled type="submit" class="btn btn-outline-primary w-75" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to enroll in this course">
                                        Course is full capacity
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-outline-primary w-75" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to enroll in this course">
                                        <i class="fas fa-user-plus"></i> Enroll
                                    </button>
                                }
                            
                            

                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>


<!-- Modal for Enrollment Failure -->
<div class="modal fade" id="prerequisiteModal" tabindex="-1" role="dialog" aria-labelledby="prerequisiteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="prerequisiteModalLabel">Enrollment Failed</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You didn't take all the prerequisite courses for this course.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();

            $('.enroll-form').submit(function (event) {
                event.preventDefault(); // Prevent the default form submission

                var form = $(this);
                var url = form.attr('action');
                var formData = form.serialize();

                $.post(url, formData, function (response) {
                    if (response.success) {
                        window.location.href = '@Url.Action("MyCourses")';
                    } else {
                        $('#prerequisiteModal .modal-body').text(response.message);
                        $('#prerequisiteModal').modal('show');
                    }
                });
            });
        });
    </script>
}
